/* ::-webkit-scrollbar{
	width: 0px;
} */
header .sub-menu::after {
	position: absolute;
	top: -25px;
	content: "";
	left: 50%;
	transform: translateX(-50%);
	width: 50%;
	height: 40px;
}
.box-shadow {
	box-shadow:
		rgba(191, 197, 203, 0.22) 0px 0px 2px 0px,
		rgba(145, 158, 171, 0.15) 0px 12px 24px -4px;
	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.box-shadow {
	box-shadow:
		rgba(191, 197, 203, 0.22) 0px 0px 2px 0px,
		rgba(145, 158, 171, 0.15) 0px 12px 24px -4px;
	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.box-shadow {
	box-shadow:
		rgba(191, 197, 203, 0.22) 0px 0px 2px 0px,
		rgba(145, 158, 171, 0.15) 0px 12px 24px -4px;
	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.scroll-custom::-webkit-scrollbar {
	width: 8px;
}
.scroll-custom::-webkit-scrollbar-thumb {
	background-color: rgba(137, 137, 137, 0.266);
	border-radius: 8px;
}
.scroll-custom::-webkit-scrollbar-track {
	background-color: transparent;
}

.scroll-custom-x::-webkit-scrollbar {
	height: 8px;
}
.scroll-custom-x::-webkit-scrollbar-thumb {
	background-color: rgba(137, 137, 137, 0.266);
	border-radius: 8px;
}
.scroll-custom-x::-webkit-scrollbar-track {
	background-color: transparent;
}
.progress {
	animation: progress 1s infinite linear;
}

.left-right {
	transform-origin: 0% 50%;
}
@keyframes progress {
	0% {
		transform: translateX(0) scaleX(0);
	}
	40% {
		transform: translateX(0) scaleX(0.4);
	}
	100% {
		transform: translateX(100%) scaleX(0.5);
	}
}
/* CSS React Select */
.css-t3ipsp-control:hover {
	border: none !important;
}
.react-select__value-container
	.react-select__multi-value.css-1p3m7a8-multiValue {
	background-color: #3b83f638 !important;
	color: #3b82f6 !important;
}
.react-select__multi-value__label {
	color: #3b82f6 !important;
}
.react-select__multi-value__remove.css-12a83d4-MultiValueRemove {
	background-color: transparent !important;
	color: #3b82f6 !important;
}
.react-select__multi-value__remove.css-12a83d4-MultiValueRemove:hover {
	background-color: #f1f1f1 !important;
	color: #333 !important;
	outline: none !important;
}
.react-select__option.react-select__option--is-focused {
	background-color: #3b83f638 !important;
	color: #3b82f6 !important;
	cursor: pointer;
}

.mapboxgl-control-container {
	display: none;
}
