/* ::-webkit-scrollbar{
	width: 0px;
} */
header .sub-menu::after {
	position: absolute;
	top: -25px;
	content: "";
	left: 50%;
	transform: translateX(-50%);
	width: 50%;
	height: 40px;
}

.link-mention {
	display: inline-block;
	border-radius: 16px;
	color: rgb(0, 147, 252);
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}

.box-shadow {
	box-shadow:
		rgba(191, 197, 203, 0.22) 0px 0px 2px 0px,
		rgba(145, 158, 171, 0.15) 0px 12px 24px -4px;
	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.box-shadow {
	box-shadow:
		rgba(191, 197, 203, 0.22) 0px 0px 2px 0px,
		rgba(145, 158, 171, 0.15) 0px 12px 24px -4px;
	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.box-shadow {
	box-shadow:
		rgba(191, 197, 203, 0.22) 0px 0px 2px 0px,
		rgba(145, 158, 171, 0.15) 0px 12px 24px -4px;
	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.scroll-custom::-webkit-scrollbar {
	width: 8px;
}

.scroll-custom::-webkit-scrollbar-thumb {
	background-color: rgba(137, 137, 137, 0.266);
	border-radius: 8px;
}

.scroll-custom::-webkit-scrollbar-track {
	background-color: transparent;
}

.scroll-custom-x::-webkit-scrollbar {
	height: 8px;
}

.scroll-custom-x::-webkit-scrollbar-thumb {
	background-color: rgba(137, 137, 137, 0.266);
	border-radius: 8px;
}

.scroll-custom-x::-webkit-scrollbar-track {
	background-color: transparent;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.progress {
	animation: progress 1s infinite linear;
}

.left-right {
	transform-origin: 0% 50%;
}

@keyframes progress {
	0% {
		transform: translateX(0) scaleX(0);
	}

	40% {
		transform: translateX(0) scaleX(0.4);
	}

	100% {
		transform: translateX(100%) scaleX(0.5);
	}
}

/* CSS React Select */
/* .react-select-container {
	height: 40px;
	box-shadow: none;
	cursor: pointer;
	border-color: #e2e8f0;
}

.react-select__control {
	min-height: 40px;
}

.css-t3ipsp-control:hover {
	border: none !important;
}

.css-13cymwt-control {
	border-color: #e2e8f0;
	border-radius: 6px;
}

.css-t3ipsp-control {
	border-color: #e2e8f0 !important;
	border-radius: 6px;
	box-shadow: 0px 0px 0px 1px #000 !important;
}

.css-tr4s17-option {
	background-color: #f4f4f5 !important;
	color: #000 !important;
}

.react-select__value-container .react-select__multi-value.css-1p3m7a8-multiValue {
	background-color: #f4f4f5 !important;
	color: #000000 !important;
}

.react-select__multi-value__label {
	color: #000000 !important;
}

.react-select__multi-value__remove.css-12a83d4-MultiValueRemove {
	background-color: transparent !important;
	color: #000000 !important;
}

.react-select__multi-value__remove.css-12a83d4-MultiValueRemove:hover {
	background-color: #f4f4f5 !important;
	color: #000000 !important;
	outline: none !important;
}

.react-select__option.react-select__option--is-focused {
	background-color: #f4f4f5 !important;
	color: #000000 !important;
	cursor: pointer;
}

.react-select-container .css-13cymwt-control {}

.react-select-container .css-t3ipsp-control {}

.react-select-container .react-select__value-container .react-select__multi-value.css-1p3m7a8-multiValue {
	background-color: #3b83f638 !important;
	color: #3b82f6 !important;
}

.react-select-container .react-select__multi-value__label {
	color: #3b82f6 !important;
}

.react-select-container .react-select__multi-value__remove.css-12a83d4-MultiValueRemove {
	background-color: transparent !important;
	color: #3b82f6 !important;
}

.react-select-container .react-select__multi-value__remove.css-12a83d4-MultiValueRemove:hover {
	background-color: #f1f1f1 !important;
	color: #333 !important;
	outline: none !important;
}

.react-select-container .react-select__option.react-select__option--is-focused {
	background-color: #3b83f638 !important;
	color: #3b82f6 !important;
	cursor: pointer;
} */

.mapboxgl-control-container {
	display: none;
}
.selection-box-tick::before {
	border: 30px solid transparent;
	border-bottom: 30px solid #3b82f6;
	bottom: 0;
	content: "";
	position: absolute;
	right: -40px;
}
[contenteditable="true"]:empty:before {
	content: attr(data-placeholder);
	pointer-events: none;
	display: block; /* For Firefox */
	color: #aaa;
}

.fr-body .fr-second-toolbar {
	display: none;
}
.fr-body .fr-newline {
	display: none !important;
}
.fr-body .fr-element.fr-view {
	padding: 2px 8px !important;
	/* border:1px solid #ccc; */
}
.fr-body .fr-toolbar {
	padding: 4px 0;
	border: none !important;
}
.fr-body .fr-command.fr-btn {
	margin: 0 !important;
	padding: 4px !important;
	height: auto !important;
}
.fr-body .fr-wrapper {
	border: none !important;
	border-radius: 0 0 10px 10px !important;
}

.fr-body .fr-box {
	border: 1px solid #ccc !important;
	border-radius: 10px;
}

.fr-body .fr-command.fr-btn > svg {
	width: 18px !important;
	height: 18px !important;
	margin: 0 !important;
}

.fr-body .fr-box.fr-basic.fr-top {
	width: 100%;
}

.link {
	color: #0093fc;
	text-decoration: underline;
}

.bg-magic {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.bg-magic::after {
	content: "";
	position: absolute;
	z-index: -2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: aliceblue;
}
.bg-magic::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.08;
	background-image: radial-gradient(#ffffff40, #fff0 40%),
		radial-gradient(
			hsl(44, 100%, 66%) 30%,
			hsl(338, 68%, 65%),
			hsla(338, 68%, 65%, 0.4) 41%,
			transparent 52%
		),
		radial-gradient(hsl(272, 100%, 60%) 37%, transparent 46%),
		linear-gradient(155deg, transparent 65%, hsl(142, 70%, 49%) 95%),
		linear-gradient(45deg, #0065e0, #0f8bff);
	background-size:
		200% 200%,
		285% 500%,
		285% 500%,
		cover,
		cover;
	background-position:
		bottom left,
		109% 68%,
		109% 68%,
		center,
		center;
}
